In [1]:
import pandas as pd
import numpy as np
import requests
import json
from scipy.stats import linregress
from citipy import citipy
import random
from config import gkey
import time
import matplotlib.pyplot as plt
import gmaps

In [2]:
weather_url = "../weatherpy/results/weather_data.csv"

In [3]:
weather = pd.read_csv(weather_url)

In [4]:
weather.head()

,city,latitude,longitude,temperature,humidity,cloudiness,wind,hemisphere
0,rikitea,-23.1203,-134.9692,80.15,69,33,11.86,NaN
1,havre-saint-pierre,50.2334,-63.5986,32.00,64,75,8.05,NaN
2,castro,-24.7911,-50.0119,70.88,90,100,4.97,NaN
3,xingyi,24.1877,102.8170,45.57,94,0,4.18,NaN
4,ushuaia,-54.8000,-68.3000,42.80,70,90,28.77,NaN

In [5]:
weather.dtypes

city            object
latitude       float64
longitude      float64
temperature    float64
humidity         int64
cloudiness       int64
wind           float64
hemisphere     float64
dtype: object

In [6]:
locations = weather[["latitude", "longitude"]]

In [7]:
humidity = weather["humidity"].astype(float)

In [11]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
weather.loc[(weather["temperature"]>77)&
            (weather["temperature"]<83)&
            (weather["cloudiness"]<20)&
            (weather["wind"]<10)&
            (weather["humidity"]>40)&
            (weather["humidity"]<80),:]

,city,latitude,longitude,temperature,humidity,cloudiness,wind,hemisphere
109,mundo nuevo,18.7000,-95.5000,81.79,71,0,8.77,NaN
308,lazaro cardenas,17.9583,-102.2000,79.95,65,14,7.18,NaN
317,acapulco,16.8634,-99.8901,82.83,60,2,7.23,NaN
331,maldonado,-34.6667,-54.9167,80.67,78,0,6.91,NaN
368,coffs harbour,-30.3000,153.1333,78.85,73,1,5.75,NaN
417,iraquara,-12.2486,-41.6194,82.40,61,0,2.30,NaN
467,kambia,9.1167,-12.9167,82.40,74,0,9.22,NaN
470,otane,-39.8833,176.6333,79.00,63,0,4.00,NaN
476,bahia honda,22.9036,-83.1592,79.57,71,6,8.88,NaN