In [46]:
import pandas as pd
import numpy as np
import requests
import json
from scipy import stats
from citipy import citipy
import random
from config import api_key
import time

In [4]:
#how does citipy work
#https://github.com/wingchen/citipy#looking-up-with-coordinates
city = citipy.nearest_city(41.8, -87.6)
city

In [5]:
city.city_name

'chicago'

In [6]:
city.country_code

'us'

In [7]:
lat_range = (-90, 90)
lng_range = (-180, 180)

In [8]:
lat_lngs = []
cities = []

In [19]:
#capping lattitudes at 80 because no one lives up there:

lats = np.random.uniform(-80, 80, size = 1300)
longs = np.random.uniform(-180, 180, size = 1300)

In [20]:
lat_longs=pd.DataFrame({"latitude":lats,
                       "longitude":longs})

In [21]:
lat_longs

       latitude   longitude
0     23.821714   39.245086
1    -28.868803 -134.911953
2     51.138842  -64.434241
3    -49.690197 -105.623578
4     25.674202  105.188541
...         ...         ...
1195  60.775983 -147.149401
1196  23.526999  -23.238174
1197 -56.208654  -83.588958
1198 -16.811223   70.060189
1199 -65.354836  106.133435

[1200 rows x 2 columns]

In [28]:
cities = []

for index, row in lat_longs.iterrows():
    city = citipy.nearest_city(row["latitude"], row["longitude"]).city_name
    
    if city not in cities:
        cities.append(city)

In [29]:
len(cities)

574

In [48]:
weather=pd.DataFrame({"city":cities})

weather.head()

                 city
0              jiddah
1             rikitea
2  havre-saint-pierre
3              castro
4              xingyi

In [49]:
weather["latitude"] = ""
weather["longitude"] = ""
weather["temperature"] = ""
weather["humidity"] = ""
weather["cloudiness"] = ""
weather["wind"] = ""

weather.head()

                 city latitude longitude temperature humidity cloudiness wind
0              jiddah
1             rikitea
2  havre-saint-pierre
3              castro
4              xingyi

In [126]:
# what inputs does open weather need
# https://openweathermap.org/current
# api.openweathermap.org/data/2.5/weather?q={city name}&appid={API key}

In [ ]:
#api call from open weather to get some weather

In [3]:
test = "husavik"

In [13]:
response = requests.get(f"http://api.openweathermap.org/data/2.5/weather?q={test}&appid={api_key}&units=imperial").json()

In [14]:
print(json.dumps(response, indent=4, sort_keys=True))

{
    "base": "stations",
    "clouds": {
        "all": 75
    },
    "cod": 200,
    "coord": {
        "lat": 66.0449,
        "lon": -17.3389
    },
    "dt": 1611690277,
    "id": 2629833,
    "main": {
        "feels_like": 14.56,
        "humidity": 80,
        "pressure": 1023,
        "temp": 23,
        "temp_max": 23,
        "temp_min": 23
    },
    "name": "Husavik",
    "snow": {
        "1h": 0.12
    },
    "sys": {
        "country": "IS",
        "id": 83,
        "sunrise": 1611656798,
        "sunset": 1611677818,
        "type": 1
    },
    "timezone": 0,
    "visibility": 10000,
    "weather": [
        {
            "description": "light snow",
            "icon": "13n",
            "id": 600,
            "main": "Snow"
        }
    ],
    "wind": {
        "deg": 280,
        "speed": 5.75
    }
}

In [10]:
#latitude
response["coord"]["lat"]

66.0449

In [11]:
#longitude
response["coord"]["lon"]

-17.3389

In [15]:
#temp
response["main"]["temp"]

23

In [18]:
#humidity
response["main"]["humidity"]

80

In [17]:
#cloudiness
response["clouds"]["all"]

75

In [16]:
#wind
response["wind"]["speed"]

5.75

In [37]:
test = pd.DataFrame({"city":["Chicago", "Lima", "Cape Town"],
                    "latitude":"",
                     "longitude":"",
                     "temperature":"",
                     "humidity":"",
                     "cloudiness":"",
                     "wind":""})
test.head()

        city latitude longitude temperature humidity cloudiness wind
0    Chicago
1       Lima
2  Cape Town

In [61]:
for index, row in weather.iterrows():
    city = row["city"]
    
    not_json_yet = requests.get(f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=imperial")
    
    if not_json_yet.status_code == 200:
        
        response = not_json_yet.json()
    
        weather.loc[index, "latitude"] = response["coord"]["lat"]
        weather.loc[index, "longitude"] = response["coord"]["lon"]
        weather.loc[index, "temperature"] = response["main"]["temp"]
        weather.loc[index, "humidity"] = response["main"]["humidity"]
        weather.loc[index, "cloudiness"] = response["clouds"]["all"]
        weather.loc[index, "wind"] = response["wind"]["speed"]
    
        print(f"Pulling weather for city #{index}, {city}")
    
        time.sleep(1)
        #to prevent maxing out the api call
    
    else: 
        print(f"no data for city #{index}, {city}")

no data for city #0, jiddah
Pulling weather for city #1, rikitea
Pulling weather for city #2, havre-saint-pierre
Pulling weather for city #3, castro
Pulling weather for city #4, xingyi
Pulling weather for city #5, ushuaia
no data for city #6, karauzyak
Pulling weather for city #7, norman wells
Pulling weather for city #8, hilo
Pulling weather for city #9, umm kaddadah
Pulling weather for city #10, mago
Pulling weather for city #11, port alfred
Pulling weather for city #12, aykhal
no data for city #13, saleaula
Pulling weather for city #14, grindavik
Pulling weather for city #15, severnyy
Pulling weather for city #16, deputatskiy
Pulling weather for city #17, butaritari
Pulling weather for city #18, fairbanks
Pulling weather for city #19, pec
Pulling weather for city #20, fortuna foothills
no data for city #21, umm durman
Pulling weather for city #22, alyangula
Pulling weather for city #23, balabac
Pulling weather for city #24, atuona
Pulling weather for city #25, mataura
Pulling weather for city #26, dikson
Pulling weather for city #27, albany
Pulling weather for city #28, georgetown
Pulling weather for city #29, opunake
Pulling weather for city #30, nikolskoye
Pulling weather for city #31, san patricio
Pulling weather for city #32, araouane
Pulling weather for city #33, mahebourg
Pulling weather for city #34, mount gambier
Pulling weather for city #35, pudozh
Pulling weather for city #36, puerto ayora
Pulling weather for city #37, saint-honore
Pulling weather for city #38, jamestown
Pulling weather for city #39, codrington
Pulling weather for city #40, kodiak
Pulling weather for city #41, hermanus
Pulling weather for city #42, geraldton
Pulling weather for city #43, laishevo
Pulling weather for city #44, tasiilaq
Pulling weather for city #45, amalapuram
Pulling weather for city #46, hailar
Pulling weather for city #47, mosquera
Pulling weather for city #48, gautier
Pulling weather for city #49, arraial do cabo
Pulling weather for city #50, abha
Pulling weather for city #51, nouadhibou
Pulling weather for city #52, jalu
Pulling weather for city #53, changli
Pulling weather for city #54, mount pleasant
Pulling weather for city #55, cape town
Pulling weather for city #56, avarua
Pulling weather for city #57, mar del plata
Pulling weather for city #58, sorland
Pulling weather for city #59, bambous virieux
Pulling weather for city #60, ribeira grande
Pulling weather for city #61, bocas del toro
Pulling weather for city #62, prince albert
Pulling weather for city #63, vostok
no data for city #64, dinsor
Pulling weather for city #65, naze
Pulling weather for city #66, isangel
Pulling weather for city #67, punta arenas
Pulling weather for city #68, baykit
Pulling weather for city #69, bethel
Pulling weather for city #70, hofn
Pulling weather for city #71, canandaigua
no data for city #72, haibowan
Pulling weather for city #73, bluff
Pulling weather for city #74, praia da vitoria
Pulling weather for city #75, saint george
Pulling weather for city #76, kiunga
no data for city #77, meyungs
Pulling weather for city #78, dong hoi
Pulling weather for city #79, hithadhoo
Pulling weather for city #80, kommunar
Pulling weather for city #81, vila
Pulling weather for city #82, nagua
Pulling weather for city #83, hasaki
Pulling weather for city #84, yueyang
Pulling weather for city #85, east london
Pulling weather for city #86, bambanglipuro
Pulling weather for city #87, andenes
no data for city #88, suzu
Pulling weather for city #89, vaini
Pulling weather for city #90, devonport
Pulling weather for city #91, grants pass
Pulling weather for city #92, okha
Pulling weather for city #93, tura
Pulling weather for city #94, lujan
Pulling weather for city #95, san ramon de la nueva oran
no data for city #96, azimur
no data for city #97, taolanaro
Pulling weather for city #98, vestmannaeyjar
Pulling weather for city #99, kapaa
Pulling weather for city #100, haines junction
Pulling weather for city #101, busselton
no data for city #102, warqla
Pulling weather for city #103, yatou
Pulling weather for city #104, laredo
Pulling weather for city #105, ixtapa
Pulling weather for city #106, kruisfontein
no data for city #107, tsihombe
no data for city #108, hunza
Pulling weather for city #109, ginda
Pulling weather for city #110, poum
Pulling weather for city #111, caravelas
Pulling weather for city #112, rio grande
Pulling weather for city #113, provideniya
Pulling weather for city #114, rondonopolis
Pulling weather for city #115, shingu
Pulling weather for city #116, cidreira
no data for city #117, vaitupu
Pulling weather for city #118, hobart
Pulling weather for city #119, leshukonskoye
no data for city #120, anar darreh
no data for city #121, amderma
Pulling weather for city #122, togur
Pulling weather for city #123, maracaibo
Pulling weather for city #124, kavieng
Pulling weather for city #125, mundo nuevo
Pulling weather for city #126, barcelos
Pulling weather for city #127, borisoglebskiy
Pulling weather for city #128, emerald
Pulling weather for city #129, abbeville
Pulling weather for city #130, nanortalik
no data for city #131, sentyabrskiy
Pulling weather for city #132, kuldur
Pulling weather for city #133, akyab
Pulling weather for city #134, torbay
Pulling weather for city #135, kyshtovka
Pulling weather for city #136, luderitz
Pulling weather for city #137, black river
Pulling weather for city #138, fortuna
Pulling weather for city #139, faanui
Pulling weather for city #140, khatanga
Pulling weather for city #141, lebu
no data for city #142, mys shmidta
Pulling weather for city #143, lamar
Pulling weather for city #144, meulaboh
Pulling weather for city #145, atar
Pulling weather for city #146, tuatapere
Pulling weather for city #147, chuy
Pulling weather for city #148, pocao de pedras
Pulling weather for city #149, batsfjord
Pulling weather for city #150, skjervoy
Pulling weather for city #151, samarai
Pulling weather for city #152, nyagan
Pulling weather for city #153, chanika
Pulling weather for city #154, cayenne
Pulling weather for city #155, ormara
no data for city #156, illoqqortoormiut
Pulling weather for city #157, prince rupert
Pulling weather for city #158, yambio
Pulling weather for city #159, rocha
Pulling weather for city #160, massakory
Pulling weather for city #161, thalgau
Pulling weather for city #162, rodotopion
Pulling weather for city #163, vao
Pulling weather for city #164, coquimbo
no data for city #165, lolua
Pulling weather for city #166, dunedin
no data for city #167, tabiauea
Pulling weather for city #168, linkou
Pulling weather for city #169, bengkulu
Pulling weather for city #170, bathsheba
Pulling weather for city #171, thompson
Pulling weather for city #172, la union
Pulling weather for city #173, richards bay
Pulling weather for city #174, taoudenni
Pulling weather for city #175, bredasdorp
Pulling weather for city #176, ponta do sol
Pulling weather for city #177, puerto carreno
Pulling weather for city #178, nador
Pulling weather for city #179, havelock
Pulling weather for city #180, avera
no data for city #181, ijaki
no data for city #182, kamenskoye
no data for city #183, one hundred mile house
Pulling weather for city #184, yuzhno-kurilsk
Pulling weather for city #185, camabatela
Pulling weather for city #186, hajduszoboszlo
Pulling weather for city #187, port augusta
Pulling weather for city #188, lakes entrance
Pulling weather for city #189, airai
Pulling weather for city #190, bairiki
Pulling weather for city #191, porto walter
Pulling weather for city #192, kaitangata
Pulling weather for city #193, port-cartier
Pulling weather for city #194, harper
Pulling weather for city #195, denpasar
Pulling weather for city #196, ponta delgada
Pulling weather for city #197, yibin
Pulling weather for city #198, fukuma
Pulling weather for city #199, vila velha
Pulling weather for city #200, bontang
Pulling weather for city #201, zilair
Pulling weather for city #202, road town
Pulling weather for city #203, racovita
Pulling weather for city #204, chara
Pulling weather for city #205, rosarito
Pulling weather for city #206, leningradskiy
Pulling weather for city #207, raipur
Pulling weather for city #208, ayaviri
Pulling weather for city #209, fare

Pulling weather for city #210, port arthur
Pulling weather for city #211, pisco
Pulling weather for city #212, san pedro
Pulling weather for city #213, gaoual
Pulling weather for city #214, obo
Pulling weather for city #215, maniitsoq
Pulling weather for city #216, ancud
Pulling weather for city #217, valley city
Pulling weather for city #218, la ronge
Pulling weather for city #219, new norfolk
Pulling weather for city #220, villarrobledo
Pulling weather for city #221, qaanaaq
Pulling weather for city #222, honiara
Pulling weather for city #223, novoagansk
Pulling weather for city #224, bubaque
Pulling weather for city #225, barretos
Pulling weather for city #226, lander
Pulling weather for city #227, port elizabeth
Pulling weather for city #228, mizque
Pulling weather for city #229, lorengau
Pulling weather for city #230, lata
Pulling weather for city #231, chunskiy
Pulling weather for city #232, kahului
Pulling weather for city #233, pevek
Pulling weather for city #234, nanyang
Pulling weather for city #235, saldanha
no data for city #236, urdzhar
Pulling weather for city #237, aksarka
Pulling weather for city #238, sao joao da barra
Pulling weather for city #239, luwuk
Pulling weather for city #240, merrill
Pulling weather for city #241, ende
Pulling weather for city #242, barrow
Pulling weather for city #243, channel-port aux basques
Pulling weather for city #244, kyaikto
Pulling weather for city #245, oranjestad
Pulling weather for city #246, yangambi
no data for city #247, kuche
Pulling weather for city #248, mount isa
Pulling weather for city #249, shilka
Pulling weather for city #250, yuancheng
Pulling weather for city #251, tiksi
Pulling weather for city #252, port blair
Pulling weather for city #253, dubai
Pulling weather for city #254, hobyo
Pulling weather for city #255, yellowknife
Pulling weather for city #256, udachnyy
Pulling weather for city #257, bonga
Pulling weather for city #258, turukhansk
no data for city #259, dolbeau
Pulling weather for city #260, tevaitoa
Pulling weather for city #261, elbistan
Pulling weather for city #262, usinsk
no data for city #263, grand river south east
Pulling weather for city #264, shubarkuduk
Pulling weather for city #265, show low
Pulling weather for city #266, husavik
Pulling weather for city #267, juneau
Pulling weather for city #268, sakakah
Pulling weather for city #269, cabo san lucas
Pulling weather for city #270, northam
Pulling weather for city #271, genhe
Pulling weather for city #272, konstantinovka
Pulling weather for city #273, baghdad
Pulling weather for city #274, tagusao
no data for city #275, halalo
Pulling weather for city #276, ballarat
Pulling weather for city #277, clyde river
Pulling weather for city #278, shimoda
Pulling weather for city #279, lichuan
Pulling weather for city #280, ust-tsilma
Pulling weather for city #281, longhua
Pulling weather for city #282, wainwright
Pulling weather for city #283, ruteng
no data for city #284, dekoa
Pulling weather for city #285, ler
Pulling weather for city #286, carnarvon
Pulling weather for city #287, carmen
Pulling weather for city #288, tipuani
Pulling weather for city #289, khorramshahr
Pulling weather for city #290, port hardy
Pulling weather for city #291, manicore
Pulling weather for city #292, vostochnyy
Pulling weather for city #293, athabasca
Pulling weather for city #294, teeli
Pulling weather for city #295, waingapu
Pulling weather for city #296, olafsvik
Pulling weather for city #297, bac lieu
Pulling weather for city #298, dunmore east
Pulling weather for city #299, swan hill
no data for city #300, belushya guba
Pulling weather for city #301, gonbad-e qabus
Pulling weather for city #302, gornyy
Pulling weather for city #303, ambilobe
Pulling weather for city #304, astoria
Pulling weather for city #305, tilichiki
Pulling weather for city #306, quatre cocos
Pulling weather for city #307, lowestoft
no data for city #308, bacuit
Pulling weather for city #309, te anau
Pulling weather for city #310, izumo
Pulling weather for city #311, oktyabrskiy
Pulling weather for city #312, tondano
Pulling weather for city #313, marystown
Pulling weather for city #314, changji
Pulling weather for city #315, marabba
Pulling weather for city #316, san policarpo
Pulling weather for city #317, laguna
Pulling weather for city #318, tongliao
Pulling weather for city #319, guerrero negro
Pulling weather for city #320, vestmanna
Pulling weather for city #321, jumla
Pulling weather for city #322, esperance
Pulling weather for city #323, itupiranga
Pulling weather for city #324, banjar
Pulling weather for city #325, bella union
no data for city #326, umzimvubu
Pulling weather for city #327, dingle
Pulling weather for city #328, yulara
Pulling weather for city #329, yerbogachen
Pulling weather for city #330, lagoa
Pulling weather for city #331, bonavista
Pulling weather for city #332, manasa
Pulling weather for city #333, biak
Pulling weather for city #334, talnakh
Pulling weather for city #335, sola
no data for city #336, attawapiskat
Pulling weather for city #337, saint-georges
Pulling weather for city #338, yakovlevka
Pulling weather for city #339, souillac
Pulling weather for city #340, sorong
Pulling weather for city #341, kichera
Pulling weather for city #342, lazaro cardenas
Pulling weather for city #343, ko samui
Pulling weather for city #344, hualmay
no data for city #345, balimo
Pulling weather for city #346, warrensburg
Pulling weather for city #347, ostrovnoy
Pulling weather for city #348, upernavik
Pulling weather for city #349, sitges
Pulling weather for city #350, lasa
Pulling weather for city #351, kalabo
Pulling weather for city #352, acapulco
Pulling weather for city #353, deer lake
Pulling weather for city #354, asau
Pulling weather for city #355, naron
no data for city #356, tumannyy
Pulling weather for city #357, seoul
Pulling weather for city #358, olot
Pulling weather for city #359, kuminskiy
Pulling weather for city #360, aras
Pulling weather for city #361, itoman
Pulling weather for city #362, chingirlau
Pulling weather for city #363, cockburn town
Pulling weather for city #364, houma
no data for city #365, barentsburg
Pulling weather for city #366, iqaluit
Pulling weather for city #367, salalah
Pulling weather for city #368, maldonado
Pulling weather for city #369, brae
Pulling weather for city #370, samoylovka
Pulling weather for city #371, tigil
Pulling weather for city #372, victoria
Pulling weather for city #373, nago
Pulling weather for city #374, brownsville
Pulling weather for city #375, erzin
Pulling weather for city #376, lakatoro
Pulling weather for city #377, waddan
Pulling weather for city #378, do gonbadan
no data for city #379, ust-kamchatsk
Pulling weather for city #380, kapoeta
Pulling weather for city #381, sao filipe
Pulling weather for city #382, sal rei
Pulling weather for city #383, faya
Pulling weather for city #384, kiama
Pulling weather for city #385, estelle
no data for city #386, satitoa
Pulling weather for city #387, bukachacha
Pulling weather for city #388, mumford
Pulling weather for city #389, california city
Pulling weather for city #390, dalvik
Pulling weather for city #391, aswan
Pulling weather for city #392, marsaxlokk
Pulling weather for city #393, porto novo
Pulling weather for city #394, kamphaeng phet
Pulling weather for city #395, river falls
Pulling weather for city #396, sitka
Pulling weather for city #397, saint-philippe
Pulling weather for city #398, havoysund
Pulling weather for city #399, kralendijk
Pulling weather for city #400, palmerston
Pulling weather for city #401, carballo
Pulling weather for city #402, mitu
Pulling weather for city #403, moerai
Pulling weather for city #404, esna
Pulling weather for city #405, san cristobal
Pulling weather for city #406, acarau
Pulling weather for city #407, coffs harbour
Pulling weather for city #408, alenquer
Pulling weather for city #409, yar-sale
Pulling weather for city #410, miranpur
Pulling weather for city #411, kaeo
Pulling weather for city #412, srandakan
Pulling weather for city #413, vlissingen
Pulling weather for city #414, severo-kurilsk
Pulling weather for city #415, tual
Pulling weather for city #416, danjiangkou

Pulling weather for city #417, allapalli
Pulling weather for city #418, ketchikan
Pulling weather for city #419, uetze
Pulling weather for city #420, fort nelson
Pulling weather for city #421, sao miguel do araguaia
Pulling weather for city #422, touros
Pulling weather for city #423, chapleau
Pulling weather for city #424, belaya gora
Pulling weather for city #425, rafraf
Pulling weather for city #426, padang
Pulling weather for city #427, iguaba grande
Pulling weather for city #428, biltine
no data for city #429, paradwip
Pulling weather for city #430, margate
Pulling weather for city #431, bastia
Pulling weather for city #432, southbridge
Pulling weather for city #433, saint-jovite
Pulling weather for city #434, mandalgovi
Pulling weather for city #435, udayagiri
Pulling weather for city #436, constitucion
Pulling weather for city #437, lashio
no data for city #438, eldikan
Pulling weather for city #439, grand gaube
Pulling weather for city #440, kieta
no data for city #441, palabuhanratu
Pulling weather for city #442, hirara
Pulling weather for city #443, takoradi
Pulling weather for city #444, cairns
Pulling weather for city #445, los llanos de aridane
no data for city #446, phan rang
Pulling weather for city #447, lavrentiya
Pulling weather for city #448, conceicao do araguaia
Pulling weather for city #449, leh
Pulling weather for city #450, derzhavinsk
Pulling weather for city #451, kamenka
Pulling weather for city #452, baruun-urt
Pulling weather for city #453, dafeng
Pulling weather for city #454, prokopyevsk
Pulling weather for city #455, linhares
no data for city #456, sataua
Pulling weather for city #457, natal
Pulling weather for city #458, yumen
Pulling weather for city #459, marsa matruh
Pulling weather for city #460, pimentel
Pulling weather for city #461, iraquara
Pulling weather for city #462, san andres
Pulling weather for city #463, nowy dwor gdanski
Pulling weather for city #464, orbetello
Pulling weather for city #465, shymkent
Pulling weather for city #466, ghanzi
Pulling weather for city #467, kavaratti
Pulling weather for city #468, taltal
Pulling weather for city #469, nemuro
no data for city #470, grand centre
Pulling weather for city #471, adrar
Pulling weather for city #472, yaan
Pulling weather for city #473, flin flon
Pulling weather for city #474, college
Pulling weather for city #475, bara
Pulling weather for city #476, moche
Pulling weather for city #477, hami
Pulling weather for city #478, nishihara
Pulling weather for city #479, chicama
no data for city #480, tarudant
Pulling weather for city #481, balyaga
Pulling weather for city #482, kenitra
Pulling weather for city #483, cuncolim
Pulling weather for city #484, wattegama
Pulling weather for city #485, tynda
Pulling weather for city #486, macapa
Pulling weather for city #487, montclair
Pulling weather for city #488, sao jose da coroa grande
Pulling weather for city #489, inuvik
Pulling weather for city #490, camara de lobos
Pulling weather for city #491, borba
Pulling weather for city #492, iracoubo
Pulling weather for city #493, scarborough
Pulling weather for city #494, cherdyn
Pulling weather for city #495, basco
Pulling weather for city #496, tarko-sale
Pulling weather for city #497, katsuura
Pulling weather for city #498, naryan-mar
Pulling weather for city #499, matata
no data for city #500, karaul
Pulling weather for city #501, eskil
Pulling weather for city #502, fonte boa
Pulling weather for city #503, morganton
Pulling weather for city #504, baherden
Pulling weather for city #505, soure
Pulling weather for city #506, poyarkovo
Pulling weather for city #507, qui nhon
Pulling weather for city #508, almeirim
Pulling weather for city #509, nioki
Pulling weather for city #510, chokurdakh
no data for city #511, bargal
Pulling weather for city #512, pemba
Pulling weather for city #513, osmena
Pulling weather for city #514, stornoway
Pulling weather for city #515, kambia
Pulling weather for city #516, doha
Pulling weather for city #517, srednekolymsk
no data for city #518, palaiokhora
Pulling weather for city #519, otane
Pulling weather for city #520, klaksvik
Pulling weather for city #521, virar
Pulling weather for city #522, nalut
Pulling weather for city #523, corrales
Pulling weather for city #524, sfantu gheorghe
Pulling weather for city #525, bahia honda
Pulling weather for city #526, kuvandyk
Pulling weather for city #527, taloqan
Pulling weather for city #528, mahibadhoo
Pulling weather for city #529, novaya bryan
Pulling weather for city #530, altay
no data for city #531, gharb
Pulling weather for city #532, north bend
Pulling weather for city #533, tawang
Pulling weather for city #534, killybegs
Pulling weather for city #535, pirai do sul
Pulling weather for city #536, daru
Pulling weather for city #537, neyshabur
no data for city #538, suao
Pulling weather for city #539, chernyshevskiy
Pulling weather for city #540, cherskiy
Pulling weather for city #541, pacific grove
no data for city #542, cockburn harbour
Pulling weather for city #543, ilulissat
Pulling weather for city #544, el tigre
Pulling weather for city #545, liverpool
Pulling weather for city #546, tuktoyaktuk
Pulling weather for city #547, hamilton
Pulling weather for city #548, tototlan
Pulling weather for city #549, saint anthony
Pulling weather for city #550, grafton
no data for city #551, samusu
Pulling weather for city #552, severo-yeniseyskiy
Pulling weather for city #553, aquiraz
no data for city #554, gazni
Pulling weather for city #555, thaton
Pulling weather for city #556, ovalle
no data for city #557, dzhusaly
Pulling weather for city #558, cartagena
Pulling weather for city #559, sistranda
Pulling weather for city #560, axim
Pulling weather for city #561, batagay-alyta
Pulling weather for city #562, portland
no data for city #563, makung
Pulling weather for city #564, alofi
Pulling weather for city #565, sisimiut
Pulling weather for city #566, hervey bay
Pulling weather for city #567, tarkwa
Pulling weather for city #568, patitirion
Pulling weather for city #569, cobija
Pulling weather for city #570, nizhniy kuranakh
Pulling weather for city #571, ekhabi
Pulling weather for city #572, lompoc
Pulling weather for city #573, palmer

In [62]:
weather.head()

,city,latitude,longitude,temperature,humidity,cloudiness,wind
0,jiddah,,,,,,
1,rikitea,-23.1203,-134.969,80.15,69,33,11.86
2,havre-saint-pierre,50.2334,-63.5986,32,64,75,8.05
3,castro,-24.7911,-50.0119,70.88,90,100,4.97
4,xingyi,24.1877,102.817,45.57,94,0,4.18

In [73]:
weather.drop(weather.loc[weather["latitude"] == "",:].index, inplace=True)
#borrowed from https://stackoverflow.com/questions/13851535/how-to-delete-rows-from-a-pandas-dataframe-based-on-a-conditional-expression

In [74]:
weather

,city,latitude,longitude,temperature,humidity,cloudiness,wind
1,rikitea,-23.1203,-134.969,80.15,69,33,11.86
2,havre-saint-pierre,50.2334,-63.5986,32,64,75,8.05
3,castro,-24.7911,-50.0119,70.88,90,100,4.97
4,xingyi,24.1877,102.817,45.57,94,0,4.18
5,ushuaia,-54.8,-68.3,42.8,70,90,28.77
...,...,...,...,...,...,...,...
569,cobija,-11.0267,-68.7692,79.65,80,100,2.39
570,nizhniy kuranakh,58.8353,125.487,-35.18,80,100,1.57
571,ekhabi,53.5102,142.967,-1.61,93,100,8.41
572,lompoc,34.6391,-120.458,51.4,47,1,12.66
573,palmer,42.1584,-72.3287,27.43,86,90,3.96

In [58]:
city = "rikitea"

response = requests.get(f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=imperial")

response.status_code

200

In [54]:
response.status

AttributeError: 'dict' object has no attribute 'status'

In [43]:
weather.head()

        city latitude longitude temperature humidity cloudiness   wind
0    Chicago    41.85    -87.65       31.53       80         90   13.8
1       Lima -12.0432  -77.0282       75.09       64          0   13.8
2  Cape Town -33.9258   18.4232       68.25       77         20  19.57