In [2]:
import pandas as pd
import numpy as np
import requests
import json
from scipy import stats
from citipy import citipy
import random
from config import api_key

In [4]:
#how does citipy work
#https://github.com/wingchen/citipy#looking-up-with-coordinates
city = citipy.nearest_city(41.8, -87.6)
city

In [5]:
city.city_name

'chicago'

In [6]:
city.country_code

'us'

In [7]:
lat_range = (-90, 90)
lng_range = (-180, 180)

In [8]:
lat_lngs = []
cities = []

In [19]:
#capping lattitudes at 80 because no one lives up there:

lats = np.random.uniform(-80, 80, size = 1200)
longs = np.random.uniform(-180, 180, size = 1200)

In [20]:
lat_longs=pd.DataFrame({"latitude":lats,
                       "longitude":longs})

In [21]:
lat_longs

       latitude   longitude
0     23.821714   39.245086
1    -28.868803 -134.911953
2     51.138842  -64.434241
3    -49.690197 -105.623578
4     25.674202  105.188541
...         ...         ...
1195  60.775983 -147.149401
1196  23.526999  -23.238174
1197 -56.208654  -83.588958
1198 -16.811223   70.060189
1199 -65.354836  106.133435

[1200 rows x 2 columns]

In [28]:
cities = []

for index, row in lat_longs.iterrows():
    city = citipy.nearest_city(row["latitude"], row["longitude"]).city_name
    
    if city not in cities:
        cities.append(city)

In [29]:
len(cities)

574

In [31]:
weather=pd.DataFrame({"city":cities})

weather.head()

                 city
0              jiddah
1             rikitea
2  havre-saint-pierre
3              castro
4              xingyi

In [32]:
weather["latitude"] = ""
weather["longitude"] = ""
weather["temperature"] = ""
weather["humidity"] = ""
weather["cloudiness"] = ""
weather["wind"] = ""

weather.head()

                 city latitude longitude temperature humidity cloudiness wind
0              jiddah
1             rikitea
2  havre-saint-pierre
3              castro
4              xingyi

In [126]:
# what inputs does open weather need
# https://openweathermap.org/current
# api.openweathermap.org/data/2.5/weather?q={city name}&appid={API key}

In [ ]:
#api call from open weather to get some weather

In [3]:
test = "husavik"

In [13]:
response = requests.get(f"http://api.openweathermap.org/data/2.5/weather?q={test}&appid={api_key}&units=imperial").json()

In [14]:
print(json.dumps(response, indent=4, sort_keys=True))

{
    "base": "stations",
    "clouds": {
        "all": 75
    },
    "cod": 200,
    "coord": {
        "lat": 66.0449,
        "lon": -17.3389
    },
    "dt": 1611690277,
    "id": 2629833,
    "main": {
        "feels_like": 14.56,
        "humidity": 80,
        "pressure": 1023,
        "temp": 23,
        "temp_max": 23,
        "temp_min": 23
    },
    "name": "Husavik",
    "snow": {
        "1h": 0.12
    },
    "sys": {
        "country": "IS",
        "id": 83,
        "sunrise": 1611656798,
        "sunset": 1611677818,
        "type": 1
    },
    "timezone": 0,
    "visibility": 10000,
    "weather": [
        {
            "description": "light snow",
            "icon": "13n",
            "id": 600,
            "main": "Snow"
        }
    ],
    "wind": {
        "deg": 280,
        "speed": 5.75
    }
}

In [10]:
#latitude
response["coord"]["lat"]

66.0449

In [11]:
#longitude
response["coord"]["lon"]

-17.3389

In [15]:
#temp
response["main"]["temp"]

23

In [18]:
#humidity
response["main"]["humidity"]

80

In [17]:
#cloudiness
response["clouds"]["all"]

75

In [16]:
#wind
response["wind"]["speed"]

5.75

In [37]:
test = pd.DataFrame({"city":["Chicago", "Lima", "Cape Town"],
                    "latitude":"",
                     "longitude":"",
                     "temperature":"",
                     "humidity":"",
                     "cloudiness":"",
                     "wind":""})
test.head()

        city latitude longitude temperature humidity cloudiness wind
0    Chicago
1       Lima
2  Cape Town

In [41]:
for index, row in test.iterrows():
    city = row["city"]
    response = requests.get(f"http://api.openweathermap.org/data/2.5/weather?q={city}&appid={api_key}&units=imperial").json()
    
    test.loc[index, "latitude"] = response["coord"]["lat"]
    test.loc[index, "longitude"] = response["coord"]["lon"]
    test.loc[index, "temperature"] = response["main"]["temp"]
    test.loc[index, "humidity"] = response["main"]["humidity"]
    test.loc[index, "cloudiness"] = response["clouds"]["all"]
    test.loc[index, "wind"] = response["wind"]["speed"]

In [43]:
test.head()

        city latitude longitude temperature humidity cloudiness   wind
0    Chicago    41.85    -87.65       31.53       80         90   13.8
1       Lima -12.0432  -77.0282       75.09       64          0   13.8
2  Cape Town -33.9258   18.4232       68.25       77         20  19.57