In [2]:
import pandas as pd
import numpy as np
import requests
import json
from scipy import stats
from citipy import citipy
import random

In [7]:
#how does citipy work
#https://github.com/wingchen/citipy#looking-up-with-coordinates
city = citipy.nearest_city(41.8, -87.6)
city

In [8]:
city.city_name

'chicago'

In [9]:
city.country_code

'us'

In [24]:
#550 random coordinates, extra 50 in case of duplicates or other issues
#capping lattitudes at 80 because no one lives up there: https://en.wikipedia.org/wiki/Longyearbyen
#syntax: https://stackoverflow.com/questions/30030659/in-python-what-is-the-difference-between-random-uniform-and-random-random
lats_arrays = np.random.uniform(-80, 80, size = (550,1))
longs_arrays = np.random.uniform(-90, 90, size = (550,1))

In [30]:
#random.uniform returns an annoying array of arrays, 
#indexing in twice gets the actual float:
lats_arrays[34][0]

-49.89205676314796

In [36]:
lats = []
longs = []

for x in range(0,550):
    lats.append(lats_arrays[x][0])
    longs.append(longs_arrays[x][0])

list

In [42]:
cities = pd.DataFrame({"longitude":lats,
                      "latitude":longs})
cities

     longitude   latitude
0   -26.167177 -60.621827
1    -2.522542  24.219952
2    65.650513  -1.695787
3   -46.659631 -30.821095
4    20.207722  88.177255
..         ...        ...
545   6.678713 -71.647228
546 -21.563616  38.784111
547  59.697795  -3.175767
548  -2.062346  75.498165
549  38.056914  59.141922

[550 rows x 2 columns]

In [ ]:
#what inputs does open weather need
#https://openweathermap.org/current
#can take city, country code or coordinates, so why go through the cities library?
#probably so that it will look for a city big enough to have a hotel for the second part?

In [ ]:
#use pycities to get closest city name and country code

In [ ]:
#api call from open weather to get their weathers